/* Header Styling */
header {
  display: flex; /* Pour aligner les éléments horizontalement */
  justify-content: space-between; /* Séparer le titre et le bouton */
  align-items: center; /* Centrer verticalement les éléments */
  position: fixed; /* Rendre le header fixe en haut */
  top: 0;
  left: 0;
  width: 100%; /* Assurer que le header occupe toute la largeur */
  height: 60px; /* Hauteur fixe pour éviter le débordement */
  background-color: rgba(255, 255, 255, 0.9); /* Fond semi-transparent */
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); /* Ombre subtile */
  z-index: 100; /* Assurer que le header est au-dessus des autres éléments */
  padding: 0 20px; /* Marges internes */
  box-sizing: border-box; /* Inclure le padding dans la largeur */
}

.header-title {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
}
/* Profile and Connection Sections */
.profile-section,
.connection-section {
  display: flex;
  align-items: center;
  margin-left: auto;
  position: relative;
}

/* Bouton Profil */
.profile-button {
  border: none;
  background: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile-icon {
  width: 15px;
  height: 15px;
}

/* Connexion Button */
.header-button {
  padding: 8px 12px;
  font-size: 14px;
  cursor: pointer;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.header-button:hover {
  background-color: #f0f0f0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Login Form */
.login-form-container {
  position: absolute;
  top: 50px;
  right: 20px;
  z-index: 10;
  opacity: 0;
  pointer-events: none; /* Empêche l'interaction tant qu'invisible */
  transition: opacity 0.3s ease, pointer-events 0s ease 0.3s;
}

.login-form-container.show {
  opacity: 1;
  pointer-events: auto; /* Active les interactions quand visible */
}

/* Sign-Up Form */
.sign-up-form-container {
  position: absolute;
  top: 50px;
  right: 20px;
  z-index: 10;
  opacity: 0;
  pointer-events: none; /* Empêche l'interaction tant qu'invisible */
  transition: opacity 0.3s ease, pointer-events 0s ease 0.3s;
}

.sign-up-form-container.show {
  opacity: 1;
  pointer-events: auto; /* Active les interactions quand visible */
}

/* User Profile */
.user-profile-container {
  position: absolute;
  top: 60px; /* Espacement sous le header */
  right: 20px;
  z-index: 10;
  opacity: 0;
  pointer-events: none; /* Empêche l'interaction tant qu'il est invisible */
  transition: opacity 0.3s ease, pointer-events 0s ease 0.3s;
}

.user-profile-container.show {
  opacity: 1;
  pointer-events: auto; /* Active les interactions quand visible */
}

/* Footer */
footer {
  text-align: center;
  margin-top: 20px;
  font-size: 14px;
  color: #666;
}
