.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: #fff;
  border-bottom: 1px solid #ddd;
  position: relative;
}

.header-title {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
}

.header-button {
  padding: 8px 12px;
  font-size: 14px;
  cursor: pointer;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.header-button:hover {
  background-color: #f0f0f0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Profile Section */
.profile-section {
  position: relative;
}

.profile-button {
  border: none;
  background: none;
  cursor: pointer;
}

.profile-icon {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #ccc; /* Place a default background if the icon is not loaded */
  display: block;
}

.profile-menu {
  position: absolute;
  top: 40px;
  right: 0;
  background-color: white;
  border: 1px solid #ccc;
  padding: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  width: 150px;
  display: none;
}

.profile-menu p {
  margin: 5px 0;
}

.profile-section .show-profile-menu {
  display: block;
}

.logout-button {
  background-color: #f44336;
  color: white;
  border: none;
  padding: 8px;
  border-radius: 4px;
  cursor: pointer;
}

.logout-button:hover {
  background-color: #d32f2f;
}

/* Style du formulaire de connexion */
.login-form-container {
  position: absolute;
  top: 50px;
  right: 20px;
  z-index: 10;
  opacity: 0;
}

.login-form-container.show {
  opacity: 1;
  pointer-events: auto;
}

.sign-up-form-container {
  position: absolute;
  top: 50px;
  right: 20px;
  z-index: 10;
  opacity: 0;
}

.sign-up-form-container.show {
  opacity: 1;
  pointer-events: auto;
}