/* Style du formulaire de connexion */
.login-form {
  width: 300px;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.login-form .form-group {
  margin-bottom: 15px;
}

.login-form label {
  font-size: 14px;
  color: #333;
}

.login-form input {
  width: 100%;
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  background-color: #f9f9f9;
  color: #333;
}

.login-form input:focus {
  border-color: #007bff;
  outline: none;
}

.login-form .form-buttons {
  display: flex;
  justify-content: space-between;
}

.login-form .style.button {
  padding: 10px 15px;
  border-radius: 4px;
  cursor: pointer;
  color: #333;
}

.login-form .style.button:hover {
  background-color: #aaa;
}

.login-form .error-message {
  color: red;
  font-size: 12px;
  margin-bottom: 10px;
}

.login-form .sign-up-link {
  margin-top: 15px;
  text-align: center;
}

.login-form .sign-up-link .link-text {
  color: #007bff;
  cursor: pointer;
}

.login-form .sign-up-link .link-text:hover {
  text-decoration: underline;
}

/* Transition et animation pour l'affichage */
.login-form-container {
  position: absolute;
  top: 50px;
  right: 20px;
  z-index: 10;
  opacity: 0;
  pointer-events: none; /* Désactive les interactions quand invisible */
  transition: opacity 0.3s ease, pointer-events 0s ease 0.3s; /* Transition pour rendre visible avec effet d'opacité */
}

.login-form-container.show {
  opacity: 1;
  pointer-events: auto; /* Active les interactions quand visible */
}
